<h1>Sign up</h1>

<%= form_for @user do |f| %>
  <div>
    <%= f.text_field :username, placeholder: "Username" %>
  </div>
  <div>
    <%= f.password_field :password_digest, placeholder: "Password" %>
  </div>
  <div>
    <%= f.submit "Create Account", class: "btn-submit" %>
  </div>
<% end %>

